name: test
on:
  workflow_call: 
    inputs:
      node-version:
        required: true
        type: number
      pnpm-version:
        default: "10"
        type: string
    outputs:
      test-path: 
        value: ${{jobs.test.outputs.ok}}
jobs:
  test:
    runs-on: ubuntu-latest
    outputs:
      ok: ${{ steps.test.outputs.test-path }}
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{inputs.pnpm-version}}
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'pnpm'
      - name: install deps
        run: pnpm install --frozen-lockfile
      - name: run test
        id: test
        run: |
          echo "test-path=test-node-version-${{inputs.node-version}}" >> $GITHUB_OUTPUT
          pnpm run test
        continue-on-error: true
      - run: | 
          echo "test result: ${{steps.test.outputs.test-path}}"
      - name: report
        if: steps.test.outcome == 'failure'
        uses: actions/upload-artifact@v4 # what if multiple artifacts are uploaded
        with:
          name: ${{steps.test.outputs.test-path}}
          path: test.json